<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinyougou.mapper.TbUserCollectMapper" >
  <resultMap id="BaseResultMap" type="com.pinyougou.pojo.TbUserCollect" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="item_id" property="itemId" jdbcType="BIGINT" />

  </resultMap>
  <select id="selectByUserAndItem" resultType="com.pinyougou.pojo.TbUserCollect">
    select * from tb_user_collect where user_id = #{userId} and item_id = #{itemId}
  </select>
</mapper>