<!DOCTYPE html>
<html>

<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>商品分类管理</title>
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/AdminLTE.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <script src="../plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>

</head>

<body class="hold-transition skin-red sidebar-mini">
<div id="app">
    <!-- .box-body -->

    <div class="box-header with-border">
        <h3 class="box-title">分类申请
        </h3>
    </div>

    <div class="box-body">
        <!-- <ol class="breadcrumb">
                  <li>
                      <a href="#" @click="grade=1;selectList({id:0})" >顶级分类列表</a>
                  </li>
                  <li>
                         <a href="#" @click="grade=2;selectList(entity_1)" >{{entity_1.name}}</a>
                  </li>
                  <li>
                      <a href="#" @click="grade=3;selectList(entity_2)" >{{entity_2.name}}</a>
                  </li>
              </ol>
          <!-- 数据表格 -->
        <div class="table-box">

            <!--工具栏-->
            <div class="pull-left">
                <div class="form-group form-inline">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default" title="新建" @click="getTypeList()"
                                data-toggle="modal"
                                data-target="#editModal"><i class="fa fa-file-o"></i> 新建
                        </button>
                        <button type="button" class="btn btn-default" title="删除"><i class="fa fa-trash-o"></i> 删除
                        </button>
                        <button type="button" class="btn btn-default" title="提交审核" @click="updateStatus()"><i
                                class="fa fa-check"></i> 提交审核
                        </button>
                        <button type="button" class="btn btn-default" title="刷新" onclick="window.location.reload();"><i class="fa fa-check"></i> 刷新</button>
                    </div>
                </div>
            </div>
            <div class="box-tools pull-right">
                <div class="has-feedback">
                    状态：<select>
                    <option value="">全部</option>
                    <option value="0">未申请</option>
                    <option value="1">申请中</option>
                    <option value="2">已审核</option>
                    <option value="3">已驳回</option>
                </select>
                    分类名称：<input>
                    <button class="btn btn-default">查询</button>
                </div>
            </div>
            <!--工具栏/-->

            <!--数据列表-->
            <table id="dataList" class="table table-bordered table-striped table-hover dataTable">
                <thead>
                <tr>
                    <th class="" style="padding-right:0px">
                        <input type="checkbox" class="icheckbox_square-blue">
                    </th>
                    <th class="sorting_asc">分类ID</th>
                    <th class="sorting">分类名称</th>
                    <th class="sorting">类型模板ID</th>
                    <th class="sorting">状态</th>
                    <th class="text-center">操作</th>
                </tr>
                </thead>
                <tbody>
                {{ids}}
                <tr v-for="entity in list">
                    <td><input type="checkbox" :value="entity.id" v-model="ids"></td>
                    <td>{{entity.id}}</td>
                    <td>{{entity.name}}</td>
                    <td>
                        {{entity.typeId}}
                    </td>
                    <td>{{status[entity.status]}}</td>
                    <td class="text-center">
											  <span v-if="grade!=3">
												  	 <button type="button" class="btn bg-olive btn-xs">查询下级</button>
											  </span>
                        <!--
                            var obj
                        -->

                        <button type="button" class="btn bg-olive btn-xs" data-toggle="modal" data-target="#editModal">
                            修改
                        </button>
                    </td>
                </tr>

                </tbody>
            </table>
            <!--数据列表/-->

            <!--pages:指定总页数 pageNo：当前页码  searchList:定义的函数 用于在点击下一页的调用-->
            <navigation :pages="pages" :current.sync="pageNo" @navpage="searchList"></navigation>

        </div>
        <!-- 数据表格 /-->


    </div>
    <!-- /.box-body -->


    <!-- 编辑窗口 -->
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 id="myModalLabel">商品分类编辑</h3>
                </div>
                <div class="modal-body">

                    <table class="table table-bordered table-striped" width="800px">
                        <tr>
                            <td>新增分类</td>
                            <td>
                                <input class="form-control" placeholder="分类名称" v-model="category1.name">
                                选择模板:<select class="form-control" v-model="category1.typeId">
                                    <option :value="type.id" v-for="type in typeList">
                                        {{type.name}}
                                    </option>
                                </select>
                            </td>
                            <td>
                                <button type="button" class="btn btn-default" title="新建" @click="addTwoItemCats()"><i
                                        class="fa fa-file-o"></i> 新增二级分类名称
                                </button>

                            </td>
                        </tr>
                    </table>
                    <!-- 子分类 -->
                    <!--<div class="btn-group">
                        <button type="button" class="btn btn-default" title="新建" @click="addTwoItemCats()"><i
                                class="fa fa-file-o"></i> 新增二级分类名称
                        </button>
                    </div>-->
                    <table class="table table-bordered table-striped table-hover dataTable">
                        <!--<thead>
                        <th class="sorting">二级分类名称
                        </th>
                        <th class="sorting">操作</th>
                        </thead>-->
                        <tbody>
                        <tr v-for="(itemCat,index) in category2">
                            <td>
                                <input class="form-control" placeholder="二级分类名称" v-model="category2[index].name">
                                选择模板:<select class="form-control" v-model="category2[index].typeId">
                                    <option :value="type.id" v-for="type in typeList">
                                        {{type.name}}{{type.id}}
                                    </option>
                                </select>
                            </td>
                            <td>
                                <button type="button" @click="removeTableRow(index)" class="btn btn-default" title="删除">
                                    <i class="fa fa-trash-o"></i> 删除
                                </button>
                                <button type="button" @click="addThreeItemCats(index)" class="btn btn-default"
                                        title="删除">
                                    <i class="fa fa-trash-o"></i> 新增三级分类
                                </button>
                                <table>
                                    <tbody>
                                    <tr v-for="(itemCat,index3) in category2[index].category3">
                                        <td>
                                            <input class="form-control" placeholder="三级分类名称"
                                                   v-model="category2[index].category3[index3].name">
                                            选择模板:<select class="form-control"
                                                    v-model="category2[index].category3[index3].typeId">
                                                <option :value="type.id" v-for="type in typeList">
                                                    {{type.name}}{{type.id}}
                                                </option>
                                            </select>
                                        </td>
                                        <td>
                                            <button type="button" @click="removeThreeRow(index,index3)"
                                                    class="btn btn-default" title="删除">
                                                <i class="fa fa-trash-o"></i> 删除
                                            </button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success" data-dismiss="modal" aria-hidden="true" @click="save()">保存</button>
                    <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">关闭</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

<script src="../plugins/vue/vue.js"></script>
<script src="../plugins/axios/axios.js"></script>
<script src="../js/pagination.js"></script>
<script src="../js/controller/itemCatController.js"></script>

</html>