<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!-- context mvc tx aop cache dubbo security elatissearch -->
    <bean class="org.apache.rocketmq.client.consumer.DefaultMQPushConsumer"
          id="defaultMQPushConsumer" init-method="start" destroy-method="shutdown">
        <property name="namesrvAddr" value="127.0.0.1:9876"></property>
        <property name="consumerGroup" value="consumer_search_group"></property>
        <!--消费模式 默认还是集群模式，此处可以不配置-->
        <property name="messageModel" value="CLUSTERING"></property>
        <property name="subscription">
            <map>
                <!--订阅Goods_Topic主题，消费所有的Tag-->
                <entry key="Goods_Topic" value="*"></entry>
            </map>
        </property>
        <!--设置消费者监听器-->
        <property name="messageListener" ref="messageListener"></property>
    </bean>
    <bean class="com.pinyougou.search.listener.GoodsMessageListener" id="messageListener"></bean>
</beans>